table.form-table {
	border: 2px solid #46b450;
	margin-top: 0;
}

label {
    margin-left: 10px;
}

h2 {
	background: #b4e391; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    padding: 15px;
    margin-bottom: 0;
    border-radius: 15px 15px 0 0;
}

h2:hover{
	background: #61c419; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #61c419 -1%, #b4e391 49%, #61c419 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #61c419 -1%,#b4e391 49%,#61c419 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #61c419 -1%,#b4e391 49%,#61c419 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61c419', endColorstr='#61c419',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

p#pcdw_section_dashboard  {
    background: #fff; 
    padding: 18px;
    margin: 0;
}

input#pcdw_field_dash_title {
    width: 500px;
}

textarea#pcdw_field_dash_content {
    width: 500px;
}